name: CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: erendemirer1/backend:latest

      - name: Build and Push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: erendemirer1/frontend:latest

      - name: Deploy to Kubernetes
        uses: azure/k8s-deploy@v5
        with:
          manifests: |
            ./k8s/backend-deployment.yaml
            ./k8s/backend-service.yaml
            ./k8s/frontend-deployment.yaml
            ./k8s/frontend-service.yaml
          images: |
            erendemirer1/backend:latest
            erendemirer1/frontend:latest
          namespace: default
          kubeconfig: ${{ secrets.KUBE_CONFIG }}
